<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    {% block head %}{% endblock %}
</head>
<body>
<div id="header">
    <div>
        {% if stream and streams[stream]['banner'] %}
            <img class="logo" src="{{ streams[stream]['banner'] }}" width="400" title="banner">
        {% else %}
            <img class="logo" src="{{ url_for('static', filename='images/csgo_logo.jpg') }}" width="400" title="banner">
        {% endif %}
        <ul class="navigation">
            <li>
                <a href="/">Home</a>
            </li>
            {% for channel in streams %}
            <li>
                {% if streams[channel]['online'] %}
                    <img class="online" src="{{ url_for('static', filename='images/online.png') }}" width="20" height="20">
                {% endif %}
                <a href="/custom/{{ channel }}">{{ streams[channel]['display_name'] }}</a>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>

<div id="main">
    {% if stream_url %}
        <div>
            <iframe
                src="{{ stream_url }}"
                height="450"
                width="800"
                frameborder="0"
                scrolling="no"
                allowfullscreen="true">
            </iframe>
        </div>
    {% else %}
        {% if stream %}
            <div>
                Video is not available.
            </div>
        {% endif %}
    {% endif %}

    {% if stream and not streams[stream]['static'] %}
        <form action="/form/delete" method="POST">
            <p><button type="submit" name='channel' value="{{ stream }}"> Remove </button></p>
        </form>
    {% endif %}

    <div id="info">
        {% if teams %}
            {% for team in teams %}
                <div>
                    <h2> Team: {{ team['name'] }} </h2>

                    {{  team['info']|safe  }}

                    {{  team['players']|safe  }}

                    <p> Income: {{  team['income']  }}</p>
                </div>
            {% endfor %}
        {% endif %}
    </div>


{% block body %}{% endblock %}


</div>

<div id="footer">
    <p class="footer-menu">Created for VIA subject at CTU FEE 2020</p>
    <p class="footer-menu"><a href="http://www.twitch.tv">
        <img class="icon" src="{{ url_for('static', filename='images/twitch_icon.png') }}"
             width="40" height="40" title="Twitch icon">
    </a><a href="https://liquipedia.net/counterstrike">
        <img class="icon" src="{{ url_for('static', filename='images/liquipedia_logo.png') }}"
             width="40" height="30" title="Liquipedia icon" style="padding: 5px;">
    </a></p>
</div>


</body>
</html>